body {
    background-image: url('https://img.jagranjosh.com/images/2023/January/212023/Universities.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  
  .Navbar1 {
    backdrop-filter: blur(10px);
    background-color: rgba(95, 104, 113, 0.7); /* Updated color with transparency */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:hover {
    color: #00bfff;
  }
  
  .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  
  .navbar-nav .nav-item:first-child {
    margin-right: 2rem; /* Adjust this value for desired spacing */
  }
  
  .navbar-brand {
    color: white !important; /* Make the "Navbar" text white */
  }
  